# **Coding Challenge -_Sivaprakash V_**

## Import libraries & Initiate session

In [0]:
# initialize the session
from pyspark import SparkContext
from pyspark.sql import SparkSession

sc = SparkContext.getOrCreate()
spark = SparkSession.builder.appName('Coding challenge').getOrCreate()

## Loading Data

In [0]:
data_credit =spark.read.csv("/FileStore/tables/creditCard.csv",inferSchema=True,header=True)
df2 = spark.read.csv("/FileStore/tables/bankcredit.csv",inferSchema=True,header=True)
df1 = spark.read.csv("/FileStore/tables/info.csv",inferSchema=True,header=True)

## Data Exploration

In [0]:
# Print Schema
data_credit.printSchema()

root
 |-- RowNumber: integer (nullable = true)
 |-- CustomerId: integer (nullable = true)
 |-- Surname: string (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- Geography: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tenure: integer (nullable = true)
 |-- Balance: double (nullable = true)
 |-- NumOfProducts: integer (nullable = true)
 |-- IsActiveMember: integer (nullable = true)
 |-- EstimatedSalary: double (nullable = true)
 |-- Exited: integer (nullable = true)

In [0]:
# Display data
data_credit.limit(10).display()
df1.display()
df2.display()

RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,IsActiveMember,EstimatedSalary,Exited
1,15634602,Hargrave,619,France,Female,42,2,0.0,1,1,101348.88,1
2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,1,112542.58,0
3,15619304,Onio,502,France,Female,42,8,159660.8,3,0,113931.57,1
4,15701354,Boni,699,France,Female,39,1,0.0,2,0,93826.63,0
5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,79084.1,0
6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,0,149756.71,1
7,15592531,Bartlett,822,France,Male,50,7,0.0,2,1,10062.8,0
8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,0,119346.88,1
9,15792365,He,501,France,Male,44,4,142051.07,2,1,74940.5,0
10,15592389,H?,684,France,Male,27,2,134603.88,1,1,71725.73,0

CustomerId,Surname,CreditScore,Geography,Gender,Age
15634602,Hargrave,619,France,Female,42
15647311,Hill,608,null,Female,41
15701354,null,null,France,null,null
15737888,Mitchell,850,Spain,Female,null
15574012,null,645,null,Male,44
15592531,Bartlett,822,France,Male,null
15656148,Obinna,376,Germany,null,29
15792365,He,501,France,null,44
15592389,null,684,France,Male,27
15737452,null,null,Germany,Male,58
15788218,Henderson,549,Spain,Female,null
15661507,Muldrow,587,Spain,Male,45
15568982,Hao,726,France,Female,24

CustomerId,Tenure,Balance,NumOfProducts,IsActiveMember,EstimatedSalary,Exited
15634602,2,null,1,1,101348.88,1
15647311,1,83807.86,1,1,112542.58,0
15619304,8,159660.8,3,0,113931.57,1
15701354,1,null,2,0,93826.63,0
15737888,2,125510.82,1,1,79084.1,null
15574012,8,113755.78,2,null,149756.71,1
15592531,7,null,2,1,10062.8,0
15656148,4,115046.74,4,0,119346.88,1
15792365,4,142051.07,2,1,74940.5,0
15592389,2,134603.88,1,1,71725.73,null
15767821,null,102016.72,2,0,80181.12,0
15737173,3,null,2,0,76390.01,0
15632264,10,null,2,null,26260.98,0
15691483,5,null,2,0,190857.79,null
15600882,7,null,2,1,65951.65,0
15643966,3,143129.41,2,1,64327.26,null
15737452,null,132602.88,1,null,5097.67,1
15788218,9,null,2,1,14406.41,0
15661507,6,null,1,0,158684.81,0
15568982,6,null,2,1,54724.03,0

In [0]:
# Number of rows
num_rows3 = data_credit.count()
# Number of columns
num_columns3 = len(data_credit.columns)
print(f"Number of rows: {num_rows3}")
print(f"Number of columns: {num_columns3}")

Number of rows: 10000
Number of columns: 13

In [0]:
# Data description
display(data_credit.describe())

summary,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,IsActiveMember,EstimatedSalary,Exited
count,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000
mean,5000.5,1.56909405694E7,null,650.5288,null,null,38.9218,5.0128,76485.88928799961,1.5302,0.5151,100090.2398809998,0.2037
stddev,2886.8956799071675,71936.18612274907,null,96.65329873613035,null,null,10.487806451704587,2.8921743770496837,62397.40520238599,0.5816543579989917,0.49979692845891815,57510.49281769821,0.40276858399486065
min,1,15565701,Abazu,350,France,Female,18,0,0.0,1,0,11.58,0
max,10000,15815690,Zuyeva,850,Spain,Male,92,10,250898.09,4,1,199992.48,1

In [0]:
from pyspark.sql.functions import col, sum, when, lit
# Calculate null counts
null_counts2 = data_credit.select(
    [sum(when(col(c).isNull(), 1).otherwise(0)).alias(c) for c in data_credit.columns]
)
null_counts_dict2 = null_counts2.collect()[0].asDict()
transposed_null_counts2 = spark.createDataFrame(
    [(key, value) for key, value in null_counts_dict2.items()],
    schema=["Column", "Null Count"]
)
# Show the transposed DataFrame
transposed_null_counts2.show()

+---------------+----------+
|         Column|Null Count|
+---------------+----------+
|      RowNumber|         0|
|     CustomerId|         0|
|        Surname|         0|
|    CreditScore|         0|
|      Geography|         0|
|         Gender|         0|
|            Age|         0|
|         Tenure|         0|
|        Balance|         0|
|  NumOfProducts|         0|
| IsActiveMember|         0|
|EstimatedSalary|         0|
|         Exited|         0|
+---------------+----------+

## Question & Solution

### Create View

In [0]:
# Creating Views
data_credit.createOrReplaceTempView('credit')

### 1. Filter out customers with a CreditScore greater than 700 and who are active members:

In [0]:
spark.sql("SELECT * FROM credit WHERE CreditScore > 700 AND IsActiveMember = 1;").show()

+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        5|  15737888| Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
|        7|  15592531| Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|             1|        10062.8|     0|
|       20|  15568982|      Hao|        726|   France|Female| 24|     6|      0.0|            2|             1|       54724.03|     0|
|       21|  15577657| McDonald|        732|   France|  Male| 41|     8|      0.0|            2|             1|      170886.17|     0|
|       25|  15625047|      Yen|        846|   France|Female| 38|     5|      0.0|            1|             1|      187616.16|     0|
|       27|  15736816|    Young|        756|  Germany|  Male| 36|     2|136815.64|            1|             1|      170041.95|     0|
|       35|  15732963| Clements|        722|    Spain|Female| 29|     9|      0.0|            2|             1|      142033.07|     0|
|       38|  15729599|  Lorenzo|        804|    Spain|  Male| 33|     7|  76548.6|            1|             1|       98453.45|     0|
|       39|  15717426|Armstrong|        850|   France|  Male| 36|     7|      0.0|            1|             1|        40812.9|     0|
|       46|  15754849|    Tyler|        776|  Germany|Female| 32|     4|109421.13|            2|             1|      126517.46|     0|
|       47|  15602280|   Martin|        829|  Germany|Female| 27|     9|112045.67|            1|             1|      119708.21|     1|
|       66|  15789484|  Hammond|        751|  Germany|Female| 36|     6|169831.46|            2|             1|       27758.36|     0|
|       68|  15641582|  Chibugo|        735|  Germany|  Male| 43|    10|123180.01|            2|             1|      196673.28|     0|
|       79|  15575185|  Bushell|        757|    Spain|  Male| 33|     5| 77253.22|            1|             1|      194239.63|     0|
|       94|  15640635|    Capon|        769|   France|  Male| 29|     8|      0.0|            2|             1|      172290.61|     0|
|       95|  15676966|    Capon|        730|    Spain|  Male| 42|     4|      0.0|            2|             1|       85982.47|     0|
|       97|  15738721|   Graham|        773|    Spain|  Male| 41|     9|102827.44|            1|             1|       64595.25|     0|
|       98|  15693683|   Yuille|        814|  Germany|  Male| 29|     8|  97086.4|            2|             1|      197276.13|     0|
|      108|  15812878|  Parsons|        785|  Germany|Female| 36|     2| 99806.85|            1|             1|       36976.52|     0|
|      115|  15609618|  Fanucci|        721|  Germany|  Male| 28|     9|154475.54|            2|             1|      101300.94|     1|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 20 rows

In [0]:
filtered_df = data_credit.filter((data_credit.CreditScore > 700) & (data_credit.IsActiveMember == 1))
filtered_df.show()

+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        5|  15737888| Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
|        7|  15592531| Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|             1|        10062.8|     0|
|       20|  15568982|      Hao|        726|   France|Female| 24|     6|      0.0|            2|             1|       54724.03|     0|
|       21|  15577657| McDonald|        732|   France|  Male| 41|     8|      0.0|            2|             1|      170886.17|     0|
|       25|  15625047|      Yen|        846|   France|Female| 38|     5|      0.0|            1|             1|      187616.16|     0|
|       27|  15736816|    Young|        756|  Germany|  Male| 36|     2|136815.64|            1|             1|      170041.95|     0|
|       35|  15732963| Clements|        722|    Spain|Female| 29|     9|      0.0|            2|             1|      142033.07|     0|
|       38|  15729599|  Lorenzo|        804|    Spain|  Male| 33|     7|  76548.6|            1|             1|       98453.45|     0|
|       39|  15717426|Armstrong|        850|   France|  Male| 36|     7|      0.0|            1|             1|        40812.9|     0|
|       46|  15754849|    Tyler|        776|  Germany|Female| 32|     4|109421.13|            2|             1|      126517.46|     0|
|       47|  15602280|   Martin|        829|  Germany|Female| 27|     9|112045.67|            1|             1|      119708.21|     1|
|       66|  15789484|  Hammond|        751|  Germany|Female| 36|     6|169831.46|            2|             1|       27758.36|     0|
|       68|  15641582|  Chibugo|        735|  Germany|  Male| 43|    10|123180.01|            2|             1|      196673.28|     0|
|       79|  15575185|  Bushell|        757|    Spain|  Male| 33|     5| 77253.22|            1|             1|      194239.63|     0|
|       94|  15640635|    Capon|        769|   France|  Male| 29|     8|      0.0|            2|             1|      172290.61|     0|
|       95|  15676966|    Capon|        730|    Spain|  Male| 42|     4|      0.0|            2|             1|       85982.47|     0|
|       97|  15738721|   Graham|        773|    Spain|  Male| 41|     9|102827.44|            1|             1|       64595.25|     0|
|       98|  15693683|   Yuille|        814|  Germany|  Male| 29|     8|  97086.4|            2|             1|      197276.13|     0|
|      108|  15812878|  Parsons|        785|  Germany|Female| 36|     2| 99806.85|            1|             1|       36976.52|     0|
|      115|  15609618|  Fanucci|        721|  Germany|  Male| 28|     9|154475.54|            2|             1|      101300.94|     1|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 20 rows

### 2. Calculate the average Balance, total EstimatedSalary, and count of customers:

In [0]:
spark.sql("SELECT AVG(Balance) AS AverageBalance, SUM(EstimatedSalary) AS TotalSalary, COUNT(*) AS CustomerCount FROM credit;").display()

AverageBalance,TotalSalary,CustomerCount
76485.88928799961,1.0009023988099979E9,10000

In [0]:
aggregations = data_credit.agg(
    {"Balance": "avg", "EstimatedSalary": "sum", "*": "count"}
)
aggregations.withColumnRenamed("avg(Balance)", "AverageBalance").withColumnRenamed("sum(EstimatedSalary)", "TotalSalary") \
            .withColumnRenamed("count(1)", "CustomerCount").display()

CustomerCount,AverageBalance,TotalSalary
10000,76485.88928799961,1.0009023988099979E9

### 3. Find the average CreditScore and total number of customers grouped by Geography and Gender:

In [0]:
spark.sql("SELECT Geography, Gender, AVG(CreditScore) AS AvgCreditScore, COUNT(*) AS CustomerCount FROM credit GROUP BY Geography, Gender;").display()

Geography,Gender,AvgCreditScore,CustomerCount
Germany,Female,653.0938809723386,1193
France,Male,650.0646567381038,2753
France,Female,649.1857585139319,2261
Spain,Male,650.9920749279539,1388
Germany,Male,649.9665653495441,1316
Spain,Female,651.7695133149679,1089

In [0]:
grouped_df = data_credit.groupBy("Geography", "Gender").agg({"CreditScore": "avg", "*": "count"})
grouped_df.withColumnRenamed("avg(CreditScore)", "AvgCreditScore").withColumnRenamed("count(1)", "CustomerCount").display()

Geography,Gender,CustomerCount,AvgCreditScore
Germany,Female,1193,653.0938809723386
France,Male,2753,650.0646567381038
France,Female,2261,649.1857585139319
Spain,Male,1388,650.9920749279539
Germany,Male,1316,649.9665653495441
Spain,Female,1089,651.7695133149679

### 4. Joins

In [0]:
df1.printSchema()
df2.printSchema()

root
 |-- CustomerId: integer (nullable = true)
 |-- Surname: string (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- Geography: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)

root
 |-- CustomerId: integer (nullable = true)
 |-- Tenure: integer (nullable = true)
 |-- Balance: double (nullable = true)
 |-- NumOfProducts: integer (nullable = true)
 |-- IsActiveMember: integer (nullable = true)
 |-- EstimatedSalary: double (nullable = true)
 |-- Exited: integer (nullable = true)

In [0]:
df1.createOrReplaceTempView("table1")
df2.createOrReplaceTempView("table2")

#### 4.1. Inner Join

In [0]:
result = spark.sql("SELECT * FROM table1 t1 INNER JOIN table2 t2 ON t1.CustomerId = t2.CustomerId;")
result.show()

+----------+---------+-----------+---------+------+----+----------+------+---------+-------------+--------------+---------------+------+
|CustomerId|  Surname|CreditScore|Geography|Gender| Age|CustomerId|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+----------+---------+-----------+---------+------+----+----------+------+---------+-------------+--------------+---------------+------+
|  15634602| Hargrave|        619|   France|Female|  42|  15634602|     2|     null|            1|             1|      101348.88|     1|
|  15647311|     Hill|        608|     null|Female|  41|  15647311|     1| 83807.86|            1|             1|      112542.58|     0|
|  15701354|     null|       null|   France|  null|null|  15701354|     1|     null|            2|             0|       93826.63|     0|
|  15737888| Mitchell|        850|    Spain|Female|null|  15737888|     2|125510.82|            1|             1|        79084.1|  null|
|  15574012|     null|        645|     null|  Male|  44|  15574012|     8|113755.78|            2|          null|      149756.71|     1|
|  15592531| Bartlett|        822|   France|  Male|null|  15592531|     7|     null|            2|             1|        10062.8|     0|
|  15656148|   Obinna|        376|  Germany|  null|  29|  15656148|     4|115046.74|            4|             0|      119346.88|     1|
|  15792365|       He|        501|   France|  null|  44|  15792365|     4|142051.07|            2|             1|        74940.5|     0|
|  15592389|     null|        684|   France|  Male|  27|  15592389|     2|134603.88|            1|             1|       71725.73|  null|
|  15737452|     null|       null|  Germany|  Male|  58|  15737452|  null|132602.88|            1|          null|        5097.67|     1|
|  15788218|Henderson|        549|    Spain|Female|null|  15788218|     9|     null|            2|             1|       14406.41|     0|
|  15661507|  Muldrow|        587|    Spain|  Male|  45|  15661507|     6|     null|            1|             0|      158684.81|     0|
|  15568982|      Hao|        726|   France|Female|  24|  15568982|     6|     null|            2|             1|       54724.03|     0|
+----------+---------+-----------+---------+------+----+----------+------+---------+-------------+--------------+---------------+------+

In [0]:
inner_join = df1.join(df2, on="CustomerId", how="inner")
inner_join.show()

+----------+---------+-----------+---------+------+----+------+---------+-------------+--------------+---------------+------+
|CustomerId|  Surname|CreditScore|Geography|Gender| Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+----------+---------+-----------+---------+------+----+------+---------+-------------+--------------+---------------+------+
|  15634602| Hargrave|        619|   France|Female|  42|     2|     null|            1|             1|      101348.88|     1|
|  15647311|     Hill|        608|     null|Female|  41|     1| 83807.86|            1|             1|      112542.58|     0|
|  15701354|     null|       null|   France|  null|null|     1|     null|            2|             0|       93826.63|     0|
|  15737888| Mitchell|        850|    Spain|Female|null|     2|125510.82|            1|             1|        79084.1|  null|
|  15574012|     null|        645|     null|  Male|  44|     8|113755.78|            2|          null|      149756.71|     1|
|  15592531| Bartlett|        822|   France|  Male|null|     7|     null|            2|             1|        10062.8|     0|
|  15656148|   Obinna|        376|  Germany|  null|  29|     4|115046.74|            4|             0|      119346.88|     1|
|  15792365|       He|        501|   France|  null|  44|     4|142051.07|            2|             1|        74940.5|     0|
|  15592389|     null|        684|   France|  Male|  27|     2|134603.88|            1|             1|       71725.73|  null|
|  15737452|     null|       null|  Germany|  Male|  58|  null|132602.88|            1|          null|        5097.67|     1|
|  15788218|Henderson|        549|    Spain|Female|null|     9|     null|            2|             1|       14406.41|     0|
|  15661507|  Muldrow|        587|    Spain|  Male|  45|     6|     null|            1|             0|      158684.81|     0|
|  15568982|      Hao|        726|   France|Female|  24|     6|     null|            2|             1|       54724.03|     0|
+----------+---------+-----------+---------+------+----+------+---------+-------------+--------------+---------------+------+

#### 4.2. Left join

In [0]:
result1 = spark.sql("SELECT * FROM table1 t1 LEFT JOIN table2 t2 ON t1.CustomerId = t2.CustomerId;")
result1.show()

+----------+---------+-----------+---------+------+----+----------+------+---------+-------------+--------------+---------------+------+
|CustomerId|  Surname|CreditScore|Geography|Gender| Age|CustomerId|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+----------+---------+-----------+---------+------+----+----------+------+---------+-------------+--------------+---------------+------+
|  15634602| Hargrave|        619|   France|Female|  42|  15634602|     2|     null|            1|             1|      101348.88|     1|
|  15647311|     Hill|        608|     null|Female|  41|  15647311|     1| 83807.86|            1|             1|      112542.58|     0|
|  15701354|     null|       null|   France|  null|null|  15701354|     1|     null|            2|             0|       93826.63|     0|
|  15737888| Mitchell|        850|    Spain|Female|null|  15737888|     2|125510.82|            1|             1|        79084.1|  null|
|  15574012|     null|        645|     null|  Male|  44|  15574012|     8|113755.78|            2|          null|      149756.71|     1|
|  15592531| Bartlett|        822|   France|  Male|null|  15592531|     7|     null|            2|             1|        10062.8|     0|
|  15656148|   Obinna|        376|  Germany|  null|  29|  15656148|     4|115046.74|            4|             0|      119346.88|     1|
|  15792365|       He|        501|   France|  null|  44|  15792365|     4|142051.07|            2|             1|        74940.5|     0|
|  15592389|     null|        684|   France|  Male|  27|  15592389|     2|134603.88|            1|             1|       71725.73|  null|
|  15737452|     null|       null|  Germany|  Male|  58|  15737452|  null|132602.88|            1|          null|        5097.67|     1|
|  15788218|Henderson|        549|    Spain|Female|null|  15788218|     9|     null|            2|             1|       14406.41|     0|
|  15661507|  Muldrow|        587|    Spain|  Male|  45|  15661507|     6|     null|            1|             0|      158684.81|     0|
|  15568982|      Hao|        726|   France|Female|  24|  15568982|     6|     null|            2|             1|       54724.03|     0|
+----------+---------+-----------+---------+------+----+----------+------+---------+-------------+--------------+---------------+------+

In [0]:
left_join = df1.join(df2, on="CustomerId", how="left")
left_join.show()

+----------+---------+-----------+---------+------+----+------+---------+-------------+--------------+---------------+------+
|CustomerId|  Surname|CreditScore|Geography|Gender| Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+----------+---------+-----------+---------+------+----+------+---------+-------------+--------------+---------------+------+
|  15634602| Hargrave|        619|   France|Female|  42|     2|     null|            1|             1|      101348.88|     1|
|  15647311|     Hill|        608|     null|Female|  41|     1| 83807.86|            1|             1|      112542.58|     0|
|  15701354|     null|       null|   France|  null|null|     1|     null|            2|             0|       93826.63|     0|
|  15737888| Mitchell|        850|    Spain|Female|null|     2|125510.82|            1|             1|        79084.1|  null|
|  15574012|     null|        645|     null|  Male|  44|     8|113755.78|            2|          null|      149756.71|     1|
|  15592531| Bartlett|        822|   France|  Male|null|     7|     null|            2|             1|        10062.8|     0|
|  15656148|   Obinna|        376|  Germany|  null|  29|     4|115046.74|            4|             0|      119346.88|     1|
|  15792365|       He|        501|   France|  null|  44|     4|142051.07|            2|             1|        74940.5|     0|
|  15592389|     null|        684|   France|  Male|  27|     2|134603.88|            1|             1|       71725.73|  null|
|  15737452|     null|       null|  Germany|  Male|  58|  null|132602.88|            1|          null|        5097.67|     1|
|  15788218|Henderson|        549|    Spain|Female|null|     9|     null|            2|             1|       14406.41|     0|
|  15661507|  Muldrow|        587|    Spain|  Male|  45|     6|     null|            1|             0|      158684.81|     0|
|  15568982|      Hao|        726|   France|Female|  24|     6|     null|            2|             1|       54724.03|     0|
+----------+---------+-----------+---------+------+----+------+---------+-------------+--------------+---------------+------+

#### 4.3. Right Join

In [0]:
result2 = spark.sql("SELECT * FROM table1 t1 RIGHT JOIN table2 t2 ON t1.CustomerId = t2.CustomerId;")
result2.show()

+----------+---------+-----------+---------+------+----+----------+------+---------+-------------+--------------+---------------+------+
|CustomerId|  Surname|CreditScore|Geography|Gender| Age|CustomerId|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+----------+---------+-----------+---------+------+----+----------+------+---------+-------------+--------------+---------------+------+
|  15634602| Hargrave|        619|   France|Female|  42|  15634602|     2|     null|            1|             1|      101348.88|     1|
|  15647311|     Hill|        608|     null|Female|  41|  15647311|     1| 83807.86|            1|             1|      112542.58|     0|
|      null|     null|       null|     null|  null|null|  15619304|     8| 159660.8|            3|             0|      113931.57|     1|
|  15701354|     null|       null|   France|  null|null|  15701354|     1|     null|            2|             0|       93826.63|     0|
|  15737888| Mitchell|        850|    Spain|Female|null|  15737888|     2|125510.82|            1|             1|        79084.1|  null|
|  15574012|     null|        645|     null|  Male|  44|  15574012|     8|113755.78|            2|          null|      149756.71|     1|
|  15592531| Bartlett|        822|   France|  Male|null|  15592531|     7|     null|            2|             1|        10062.8|     0|
|  15656148|   Obinna|        376|  Germany|  null|  29|  15656148|     4|115046.74|            4|             0|      119346.88|     1|
|  15792365|       He|        501|   France|  null|  44|  15792365|     4|142051.07|            2|             1|        74940.5|     0|
|  15592389|     null|        684|   France|  Male|  27|  15592389|     2|134603.88|            1|             1|       71725.73|  null|
|      null|     null|       null|     null|  null|null|  15767821|  null|102016.72|            2|             0|       80181.12|     0|
|      null|     null|       null|     null|  null|null|  15737173|     3|     null|            2|             0|       76390.01|     0|
|      null|     null|       null|     null|  null|null|  15632264|    10|     null|            2|          null|       26260.98|     0|
|      null|     null|       null|     null|  null|null|  15691483|     5|     null|            2|             0|      190857.79|  null|
|      null|     null|       null|     null|  null|null|  15600882|     7|     null|            2|             1|       65951.65|     0|
|      null|     null|       null|     null|  null|null|  15643966|     3|143129.41|            2|             1|       64327.26|  null|
|  15737452|     null|       null|  Germany|  Male|  58|  15737452|  null|132602.88|            1|          null|        5097.67|     1|
|  15788218|Henderson|        549|    Spain|Female|null|  15788218|     9|     null|            2|             1|       14406.41|     0|
|  15661507|  Muldrow|        587|    Spain|  Male|  45|  15661507|     6|     null|            1|             0|      158684.81|     0|
|  15568982|      Hao|        726|   France|Female|  24|  15568982|     6|     null|            2|             1|       54724.03|     0|
+----------+---------+-----------+---------+------+----+----------+------+---------+-------------+--------------+---------------+------+

In [0]:
right_join = df1.join(df2, on="CustomerId", how="right")
right_join.show()

+----------+---------+-----------+---------+------+----+------+---------+-------------+--------------+---------------+------+
|CustomerId|  Surname|CreditScore|Geography|Gender| Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+----------+---------+-----------+---------+------+----+------+---------+-------------+--------------+---------------+------+
|  15634602| Hargrave|        619|   France|Female|  42|     2|     null|            1|             1|      101348.88|     1|
|  15647311|     Hill|        608|     null|Female|  41|     1| 83807.86|            1|             1|      112542.58|     0|
|  15619304|     null|       null|     null|  null|null|     8| 159660.8|            3|             0|      113931.57|     1|
|  15701354|     null|       null|   France|  null|null|     1|     null|            2|             0|       93826.63|     0|
|  15737888| Mitchell|        850|    Spain|Female|null|     2|125510.82|            1|             1|        79084.1|  null|
|  15574012|     null|        645|     null|  Male|  44|     8|113755.78|            2|          null|      149756.71|     1|
|  15592531| Bartlett|        822|   France|  Male|null|     7|     null|            2|             1|        10062.8|     0|
|  15656148|   Obinna|        376|  Germany|  null|  29|     4|115046.74|            4|             0|      119346.88|     1|
|  15792365|       He|        501|   France|  null|  44|     4|142051.07|            2|             1|        74940.5|     0|
|  15592389|     null|        684|   France|  Male|  27|     2|134603.88|            1|             1|       71725.73|  null|
|  15767821|     null|       null|     null|  null|null|  null|102016.72|            2|             0|       80181.12|     0|
|  15737173|     null|       null|     null|  null|null|     3|     null|            2|             0|       76390.01|     0|
|  15632264|     null|       null|     null|  null|null|    10|     null|            2|          null|       26260.98|     0|
|  15691483|     null|       null|     null|  null|null|     5|     null|            2|             0|      190857.79|  null|
|  15600882|     null|       null|     null|  null|null|     7|     null|            2|             1|       65951.65|     0|
|  15643966|     null|       null|     null|  null|null|     3|143129.41|            2|             1|       64327.26|  null|
|  15737452|     null|       null|  Germany|  Male|  58|  null|132602.88|            1|          null|        5097.67|     1|
|  15788218|Henderson|        549|    Spain|Female|null|     9|     null|            2|             1|       14406.41|     0|
|  15661507|  Muldrow|        587|    Spain|  Male|  45|     6|     null|            1|             0|      158684.81|     0|
|  15568982|      Hao|        726|   France|Female|  24|     6|     null|            2|             1|       54724.03|     0|
+----------+---------+-----------+---------+------+----+------+---------+-------------+--------------+---------------+------+

#### 4.4. Full join

In [0]:
result3 = spark.sql("SELECT * FROM table1 t1 FULL OUTER JOIN table2 t2 ON t1.CustomerId = t2.CustomerId;")
result3.show()

+----------+---------+-----------+---------+------+----+----------+------+---------+-------------+--------------+---------------+------+
|CustomerId|  Surname|CreditScore|Geography|Gender| Age|CustomerId|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+----------+---------+-----------+---------+------+----+----------+------+---------+-------------+--------------+---------------+------+
|  15568982|      Hao|        726|   France|Female|  24|  15568982|     6|     null|            2|             1|       54724.03|     0|
|  15574012|     null|        645|     null|  Male|  44|  15574012|     8|113755.78|            2|          null|      149756.71|     1|
|  15592389|     null|        684|   France|  Male|  27|  15592389|     2|134603.88|            1|             1|       71725.73|  null|
|  15592531| Bartlett|        822|   France|  Male|null|  15592531|     7|     null|            2|             1|        10062.8|     0|
|      null|     null|       null|     null|  null|null|  15600882|     7|     null|            2|             1|       65951.65|     0|
|      null|     null|       null|     null|  null|null|  15619304|     8| 159660.8|            3|             0|      113931.57|     1|
|      null|     null|       null|     null|  null|null|  15632264|    10|     null|            2|          null|       26260.98|     0|
|  15634602| Hargrave|        619|   France|Female|  42|  15634602|     2|     null|            1|             1|      101348.88|     1|
|      null|     null|       null|     null|  null|null|  15643966|     3|143129.41|            2|             1|       64327.26|  null|
|  15647311|     Hill|        608|     null|Female|  41|  15647311|     1| 83807.86|            1|             1|      112542.58|     0|
|  15656148|   Obinna|        376|  Germany|  null|  29|  15656148|     4|115046.74|            4|             0|      119346.88|     1|
|  15661507|  Muldrow|        587|    Spain|  Male|  45|  15661507|     6|     null|            1|             0|      158684.81|     0|
|      null|     null|       null|     null|  null|null|  15691483|     5|     null|            2|             0|      190857.79|  null|
|  15701354|     null|       null|   France|  null|null|  15701354|     1|     null|            2|             0|       93826.63|     0|
|      null|     null|       null|     null|  null|null|  15737173|     3|     null|            2|             0|       76390.01|     0|
|  15737452|     null|       null|  Germany|  Male|  58|  15737452|  null|132602.88|            1|          null|        5097.67|     1|
|  15737888| Mitchell|        850|    Spain|Female|null|  15737888|     2|125510.82|            1|             1|        79084.1|  null|
|      null|     null|       null|     null|  null|null|  15767821|  null|102016.72|            2|             0|       80181.12|     0|
|  15788218|Henderson|        549|    Spain|Female|null|  15788218|     9|     null|            2|             1|       14406.41|     0|
|  15792365|       He|        501|   France|  null|  44|  15792365|     4|142051.07|            2|             1|        74940.5|     0|
+----------+---------+-----------+---------+------+----+----------+------+---------+-------------+--------------+---------------+------+

In [0]:
full_join = df1.join(df2, on="CustomerId", how="outer")
full_join.show()

+----------+---------+-----------+---------+------+----+------+---------+-------------+--------------+---------------+------+
|CustomerId|  Surname|CreditScore|Geography|Gender| Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+----------+---------+-----------+---------+------+----+------+---------+-------------+--------------+---------------+------+
|  15568982|      Hao|        726|   France|Female|  24|     6|     null|            2|             1|       54724.03|     0|
|  15574012|     null|        645|     null|  Male|  44|     8|113755.78|            2|          null|      149756.71|     1|
|  15592389|     null|        684|   France|  Male|  27|     2|134603.88|            1|             1|       71725.73|  null|
|  15592531| Bartlett|        822|   France|  Male|null|     7|     null|            2|             1|        10062.8|     0|
|  15600882|     null|       null|     null|  null|null|     7|     null|            2|             1|       65951.65|     0|
|  15619304|     null|       null|     null|  null|null|     8| 159660.8|            3|             0|      113931.57|     1|
|  15632264|     null|       null|     null|  null|null|    10|     null|            2|          null|       26260.98|     0|
|  15634602| Hargrave|        619|   France|Female|  42|     2|     null|            1|             1|      101348.88|     1|
|  15643966|     null|       null|     null|  null|null|     3|143129.41|            2|             1|       64327.26|  null|
|  15647311|     Hill|        608|     null|Female|  41|     1| 83807.86|            1|             1|      112542.58|     0|
|  15656148|   Obinna|        376|  Germany|  null|  29|     4|115046.74|            4|             0|      119346.88|     1|
|  15661507|  Muldrow|        587|    Spain|  Male|  45|     6|     null|            1|             0|      158684.81|     0|
|  15691483|     null|       null|     null|  null|null|     5|     null|            2|             0|      190857.79|  null|
|  15701354|     null|       null|   France|  null|null|     1|     null|            2|             0|       93826.63|     0|
|  15737173|     null|       null|     null|  null|null|     3|     null|            2|             0|       76390.01|     0|
|  15737452|     null|       null|  Germany|  Male|  58|  null|132602.88|            1|          null|        5097.67|     1|
|  15737888| Mitchell|        850|    Spain|Female|null|     2|125510.82|            1|             1|        79084.1|  null|
|  15767821|     null|       null|     null|  null|null|  null|102016.72|            2|             0|       80181.12|     0|
|  15788218|Henderson|        549|    Spain|Female|null|     9|     null|            2|             1|       14406.41|     0|
|  15792365|       He|        501|   France|  null|  44|     4|142051.07|            2|             1|        74940.5|     0|
+----------+---------+-----------+---------+------+----+------+---------+-------------+--------------+---------------+------+

#### 4.5. Left Semi

In [0]:
result4 = spark.sql("SELECT * FROM table1 t1 WHERE EXISTS ( SELECT 1 FROM table2 t2 WHERE t1.CustomerId = t2.CustomerId );")
result4.show()

+----------+---------+-----------+---------+------+----+
|CustomerId|  Surname|CreditScore|Geography|Gender| Age|
+----------+---------+-----------+---------+------+----+
|  15634602| Hargrave|        619|   France|Female|  42|
|  15647311|     Hill|        608|     null|Female|  41|
|  15701354|     null|       null|   France|  null|null|
|  15737888| Mitchell|        850|    Spain|Female|null|
|  15574012|     null|        645|     null|  Male|  44|
|  15592531| Bartlett|        822|   France|  Male|null|
|  15656148|   Obinna|        376|  Germany|  null|  29|
|  15792365|       He|        501|   France|  null|  44|
|  15592389|     null|        684|   France|  Male|  27|
|  15737452|     null|       null|  Germany|  Male|  58|
|  15788218|Henderson|        549|    Spain|Female|null|
|  15661507|  Muldrow|        587|    Spain|  Male|  45|
|  15568982|      Hao|        726|   France|Female|  24|
+----------+---------+-----------+---------+------+----+

In [0]:
left_semi_join = df1.join(df2, on="CustomerId", how="leftsemi")
left_semi_join.show()

+----------+---------+-----------+---------+------+----+
|CustomerId|  Surname|CreditScore|Geography|Gender| Age|
+----------+---------+-----------+---------+------+----+
|  15634602| Hargrave|        619|   France|Female|  42|
|  15647311|     Hill|        608|     null|Female|  41|
|  15701354|     null|       null|   France|  null|null|
|  15737888| Mitchell|        850|    Spain|Female|null|
|  15574012|     null|        645|     null|  Male|  44|
|  15592531| Bartlett|        822|   France|  Male|null|
|  15656148|   Obinna|        376|  Germany|  null|  29|
|  15792365|       He|        501|   France|  null|  44|
|  15592389|     null|        684|   France|  Male|  27|
|  15737452|     null|       null|  Germany|  Male|  58|
|  15788218|Henderson|        549|    Spain|Female|null|
|  15661507|  Muldrow|        587|    Spain|  Male|  45|
|  15568982|      Hao|        726|   France|Female|  24|
+----------+---------+-----------+---------+------+----+

### 5. Customers with Tenure less than 5 or CreditScore greater than 750:

In [0]:
result5 = spark.sql("SELECT * FROM credit WHERE Tenure < 5 OR CreditScore > 750;")
result5.show()

+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId|   Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        1|  15634602|  Hargrave|        619|   France|Female| 42|     2|      0.0|            1|             1|      101348.88|     1|
|        2|  15647311|      Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|        4|  15701354|      Boni|        699|   France|Female| 39|     1|      0.0|            2|             0|       93826.63|     0|
|        5|  15737888|  Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
|        7|  15592531|  Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|             1|        10062.8|     0|
|        8|  15656148|    Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|             0|      119346.88|     1|
|        9|  15792365|        He|        501|   France|  Male| 44|     4|142051.07|            2|             1|        74940.5|     0|
|       10|  15592389|        H?|        684|   France|  Male| 27|     2|134603.88|            1|             1|       71725.73|     0|
|       12|  15737173|   Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|             0|       76390.01|     0|
|       16|  15643966|   Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|             1|       64327.26|     0|
|       17|  15737452|     Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|             0|        5097.67|     1|
|       23|  15699309| Gerasimov|        510|    Spain|Female| 38|     4|      0.0|            1|             0|      118913.53|     1|
|       24|  15725737|    Mosman|        669|   France|  Male| 46|     3|      0.0|            2|             1|        8487.75|     0|
|       25|  15625047|       Yen|        846|   France|Female| 38|     5|      0.0|            1|             1|      187616.16|     0|
|       26|  15738191|   Maclean|        577|   France|  Male| 25|     3|      0.0|            2|             1|      124508.29|     0|
|       27|  15736816|     Young|        756|  Germany|  Male| 36|     2|136815.64|            1|             1|      170041.95|     0|
|       29|  15728693|McWilliams|        574|  Germany|Female| 43|     3|141349.43|            1|             1|      100187.43|     0|
|       30|  15656300|  Lucciano|        411|   France|  Male| 29|     0| 59697.17|            2|             1|       53483.21|     0|
|       31|  15589475|   Azikiwe|        591|    Spain|Female| 39|     3|      0.0|            3|             0|      140469.38|     1|
|       36|  15794171|  Lombardo|        475|   France|Female| 45|     0|134264.04|            1|             0|       27822.99|     1|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 20 rows

In [0]:
filter2 = data_credit.filter((data_credit.Tenure < 5) |(data_credit.CreditScore > 750))
filter2.show()

+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId|   Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        1|  15634602|  Hargrave|        619|   France|Female| 42|     2|      0.0|            1|             1|      101348.88|     1|
|        2|  15647311|      Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|        4|  15701354|      Boni|        699|   France|Female| 39|     1|      0.0|            2|             0|       93826.63|     0|
|        5|  15737888|  Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
|        7|  15592531|  Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|             1|        10062.8|     0|
|        8|  15656148|    Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|             0|      119346.88|     1|
|        9|  15792365|        He|        501|   France|  Male| 44|     4|142051.07|            2|             1|        74940.5|     0|
|       10|  15592389|        H?|        684|   France|  Male| 27|     2|134603.88|            1|             1|       71725.73|     0|
|       12|  15737173|   Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|             0|       76390.01|     0|
|       16|  15643966|   Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|             1|       64327.26|     0|
|       17|  15737452|     Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|             0|        5097.67|     1|
|       23|  15699309| Gerasimov|        510|    Spain|Female| 38|     4|      0.0|            1|             0|      118913.53|     1|
|       24|  15725737|    Mosman|        669|   France|  Male| 46|     3|      0.0|            2|             1|        8487.75|     0|
|       25|  15625047|       Yen|        846|   France|Female| 38|     5|      0.0|            1|             1|      187616.16|     0|
|       26|  15738191|   Maclean|        577|   France|  Male| 25|     3|      0.0|            2|             1|      124508.29|     0|
|       27|  15736816|     Young|        756|  Germany|  Male| 36|     2|136815.64|            1|             1|      170041.95|     0|
|       29|  15728693|McWilliams|        574|  Germany|Female| 43|     3|141349.43|            1|             1|      100187.43|     0|
|       30|  15656300|  Lucciano|        411|   France|  Male| 29|     0| 59697.17|            2|             1|       53483.21|     0|
|       31|  15589475|   Azikiwe|        591|    Spain|Female| 39|     3|      0.0|            3|             0|      140469.38|     1|
|       36|  15794171|  Lombardo|        475|   France|Female| 45|     0|134264.04|            1|             0|       27822.99|     1|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 20 rows

### 6. Calculate the total number of active members and the average EstimatedSalary:

In [0]:
%sql
SELECT SUM(IsActiveMember) AS TotalActiveMembers, AVG(EstimatedSalary) AS AvgEstimatedSalary
FROM credit;

TotalActiveMembers,AvgEstimatedSalary
5151,100090.2398809998

In [0]:
agg1 = data_credit.agg({"IsActiveMember": "sum", "EstimatedSalary": "avg"}) \
.withColumnRenamed("sum(IsActiveMember)", "TotalActiveMembers") \
.withColumnRenamed("avg(EstimatedSalary)", "AvgEstimatedSalary")
agg1.show()

+------------------+------------------+
|TotalActiveMembers|AvgEstimatedSalary|
+------------------+------------------+
|              5151| 100090.2398809998|
+------------------+------------------+